body {
  font-weight: 600;
  font-size: 24px;
  font-family: Russo One;
}

.App {
  background: grey;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.drum-machine {
  width: 660px;
  border: solid orange 5px;
  padding: 20px 20px 20px 10px;
  background: #b3b3b3;
  display: flex;
  justify-content: center;
}

.display {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.drum-pad {
  width: 28%;
  height: 100px;
  margin: 10px;
  background-color: grey;
  border-radius: 5px;
  box-shadow: black 5px 5px 7px;
  transition: all 0.07s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing {
  transform: scale(1.1);
  background: orange;
  box-shadow: orange 0px 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

#display {
  font-size: 18px;
}

@media (max-width: 500px) {
  .drum-machine {
    display: flex;
    flex-direction: column;
  }
}
